{% extends "base.html" %}
{% block title %}Sign In{% endblock %}

{% block content %}

<div class="auth-card glass-box">
    <h2>Welcome Back</h2>

    <form method="POST">
        {% csrf_token %}
        <input name="username" type="text" placeholder="Username">
        <input name="password" type="password" placeholder="Password">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <button class="btn-primary full-btn" type="submit">Login</button>
    </form>

    <p class="auth-switch">
        Don't have an account? <a href="{% url 'sign_up' %}">Sign Up</a>
    </p>
</div>

{% endblock %}
